
<nav>
    <ul>
        <li><a href="" routerLink="inicio">Inicio</a></li>
        @if(servicioIniSesion.esLogueado()){
        <li><a href=""routerLink="empleados">Empleados</a></li>
        <li><a href=""routerLink="producto">Producto</a></li>
        <li><a href=""routerLink="directivas">Directivas</a></li>
<li><a href=""(click)="servicioIniSesion.cerrarSesion()">Cerrar Sesion</a></li>
        }
        @else(){
 <li><a href=""routerLink="iniciosesion">Inicio de Sesion</a></li>
        }
       
        
      
       
    </ul>
</nav>